<h1>Votre mail a bien été confirmé</h1>

<p>
  Veuillez confirmer votre adresse en cliquer sur le link: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmation de mon adresse mail</a>.
    Ce lien expire dans  {{ expiresAt|date('g') }} hour(s).
</p>

<p>
    Cordialement
</p>
