{% extends 'base2.html.twig' %}
{# extends permet d'etendre le code html du fichier base.html pour eviter la repetition du code #}

{% block main %}
    {# formulaire de contact #}
<div class="contacte">
    <h1  id="contactez">A propos du site</h1>
</div>

   <div class="presentation">
        <p class="ecris">
            Je me présente sandra ancienne aide soignante et créatrice de votre site<strong> "les Amazones"</strong>.<br>
            J'ai choisi ce nom en hommage à <strong>vous</strong>, ces femmes qui ce battent contre la maladie, pour vivre, pour retouver votre feminité et maintenir au
            quotidien une vie normale.<br>Il m'a paru alors evident de nommé ce site "les Amazones", elles qui étaient des guèrrières, des combattantes comme vous!.<br> Je souhaite vous rendre rendre hommage, vous aider, vous soutenir en portant
            ce message d'espoir "vous n'êtes pas seul".<br>
            Ce site a pour but d'infomer sur la maladie de manière générale, de regouper les informations qui vous seront utiles au quotidien, des adresses de professionnels, des avis, des
            bons plans et les dernières actualités, ésthétiques, psychologique et sur les avancées de la recherche. <br>
            Ce site ce veut communautaire et participatif n'hesitez pas à me faire des retours, à apporter vos avis, conseils point de vue
            afin de l'enrichire.<br><br>
            <strong>Prenez soin de vous !</strong>
        </p>

   </div>


{% endblock main%}