*{
    margin:0;
    padding:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}

body {
    font-family: 'Dancing Script', cursive;
    font-size: 16px;

}
.resp{
    width:100%;
    height:auto;

}
/*inscription*/
#sport-rose{
    position: absolute;
    width: 30%;
    margin-left: 800px;
    margin-top: 280px;
    clear: both;
}

/*login /logout/form*/

li.connexion{
    font-size: 30px;
   margin-bottom: 60px;

}
form#connect{
    margin-left: 500px;
    margin-top: 300px;
    padding-bottom: 200px;

}
/*formulaires inserer article*/
#creer-article{
    margin-top: 250px;
    margin-bottom: 120px;
}
.modifier-article{
    margin: 150px 600px;
    text-align: center;
}
.titre-temoignage-insert{
    margin:200px 450px 100px;
}
.form-group-article-insert,
.form-group-article-modify,
.form-group-testimony-insert,
.form-group-testimony-modify,
.form-group-register{
    margin-left: 150px;
    margin-bottom: 100px;
}
#contrats-assurance{
    position: absolute;
    width: 30%;
    margin-top: 2px;
    margin-left: 800px;
    clear: both;
}
.titre-inscription{
    margin: 230px 450px 100px;
}
/*inserer modifier category*/
#gerer-category{
    margin:250px 550px 100px;
}

.form-group2{
    margin-left: 40%;
}
.form-insert-register{
    margin-left: 100px;
    margin-top: 200px;
}
#modif-category{
    margin-top:250px;
    margin-bottom: 150px;
}
#form-update-category{
    margin-left: 230px;
}
.form-insert-category{
    margin-left: 200px;
}

/*articles police */
.cont{
    margin-top:10%;
    margin-left: -2%;
}
p {
    font-size: 16px;
    font-family: 'Philosopher', sans-serif;
    margin-left: 2%;
}
/*logo*/
#logo {
    left: 30px;
    width: 12%;
}

/*nav*/
nav{
    padding-top: 20px;
    background:#d3fdfd;
    height:80px;
    width:100%;
}
ul{
    display:flex;
    justify-content: flex-end;
    max-width: 1100px;
    margin-top: 20px;
    padding:0;
}
ul li{
    list-style: none;
    font-size:27px;
    position:relative;
    transition: 0.5s;
    padding:0px 30px;
    box-shadow: 0px 1px 0px #CCC;
}
ul li:hover {
    background:#e0e0e0;
}
ul li a{
    text-decoration: none;
    padding:0 30px;
    color:#616161;
}
ul li ul{
    color:#616161;
    position: absolute;
    top:20px;
    left:0;
    display: block;
    transition:0.5s;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0px 1px 0px #CCC;
}
ul li:hover ul{
    opacity: 1;
    visibility: visible;
    box-shadow: 0px 1px 0px #CCC;
}
a:hover{
    color:#616161;
}
ul li ul li{
    border-bottom:#e0e0e0;
}

/*lien don */

a{
    color: #6897be;
}
a:hover {
    color: #6897be;
}
span {
    font-size: 20px;
}
#dons {
    margin-top: 15%;
}
/*button*/
#button {
    margin-left: 2%;
    margin-top: 1%;
}
#button,#admin_button,#button_testimony,.button_category{
    width: 100px;
    height: 50px;
    border-radius: 25px;
    color: black;
    text-align: center;
    line-height: 50px;
    background-color: #fdf4f9;
    box-shadow: 0px 1px 2px #616161;
    display: inline-block;
    font-size: x-large;
    margin:30px 50px;

}
#but{
    width: 210px;
    height: 100px;
    border-radius: 25px;
    color: black;
    text-align: center;
    background-color: #fdf4f9;
    box-shadow: 0px 1px 2px #616161;
    display: inline-block;
    font-size: x-large;
    margin-top: 300px;
    margin-left:40%;
}


/*admin crud articles category testimony*/
td,tr{
    border:solid 1px black;
    background-color: #F5F5F5;

}
.display_index_admin{
    margin-bottom: 100px;
}
#creer{
    margin-top:200px;
}
.display_index_admin{
    margin-top:100px;
}
.administrateur{
    text-align: center;
    margin-top:250px;
}
.admin_container_articles,.admin_container_categorys,.admin_container_testimonys{
    margin: 100px 30px;
}
.display_articles_admin,.display_categorys_admin{
    display: flex;
    justify-content: space-around;
    background-color:#F5F5F5;
}
.title_articles_admin,.title_categorys_admin,.title_testimonys_admin{
    margin: 20px 40px;
    padding:50px  30px;
}
.box_articles_admin,.box_categorys_admin,.box_testimonys_admin{
    width: 45%;
    height: auto;
}
.display_testimonys_admin{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color:#F5F5F5;
}

/*images form testimony*/
.titre-testimony-modif{
    margin: 250px 480px 100px;
}
#mainsunis{
    position: absolute;
    width: 30%;
    margin-left: 800px;
    margin-top: 360px;
    clear: both;
}
/* image form */
#assurances{
    position: absolute;
    width: 30%;
    margin-left: 800px;
    margin-top: 450px;
    clear: both;
}
#assurances-testimony{
    position: absolute;
    width: 30%;
    margin-left: 800px;
    margin-top: 20px;
    clear: both;
}
/*image form category*/
#smiles{
    position: absolute;
    width: 30%;
    margin-left: 800px;
    clear: both;
}
#sport-rose{
    position: absolute;
    width: 30%;
    top:220px;
    margin-left: 800px;
    clear: both;
}
#news {
    margin-top: 20%;
    text-align: center;
    margin-left: 50%
}
#logoNewsletter {
    width: 70px;
}

#ins {
    text-align: center;
}
/*footer*/
#footer {
    background-color: #d3fdfd;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: #6897be;
    font-size: 27px;
}

#logoarrow {
    float: right;
    right: 2%;
    bottom: 2px;
    top: 1px;
    width: 5%;
}

#facebook {
    margin-left: 70%;
    width: 50px;
    margin-bottom: 10px;
}
#twitter {
    margin-right: 60%;
    width: 5%;
}

#instagram {
    margin-right: 83%;
    width: 5%;
}
/*responsive menu*/
@media  (max-width:968px){
    ul{
        flex-wrap: nowrap;
        padding-left: 10px;
    }
    li{
        padding:0px;
        margin-left: -20px;
    }
    ul li:hover ul{
        box-shadow: 0px 1px 0px #CCC;
    }
    ul li:hover {
        background:transparent;
    }
    li.connexion{
        display: block;
        font-size: 30px;
        margin-bottom: 60px;

    }
    form#connect{
        display: block;
        margin-left: 80px;
    }

}
@media (max-width:768px) {
    .modifier-article,#gerer-category{
        margin:220px 0 90px 0;
        text-align: center;
    }
    .titre-temoignage-insert{
        margin:250px 140px 90px 0;
        text-align: center;
    }
    .titre-testimony-modif{
        margin:250px 20px 90px 0;
        text-align: center;
    }
    .titre-inscription{
        margin:250px 130px 90px 0;
        text-align: center;
    }

/*crud articles et buttons*/
    .display_articles-admin,.display_categorys-admin{
        display: block;
        margin: 0 auto;
    }
    .title_articles-admin,.title_categorys_admin{
        display:inline-block;
        font-size: 30px;
    }
    .box_articles_admin,.box_categorys_admin{
        width: 100%;
        height: auto;
    }
    #admin_button,.button_category{
        display: inline-block;
        width: 100px;
        height: 50px;
        border-radius: 25px;
        color: black;
        text-align: center;
        line-height: 50px;
        background-color: #fdf4f9;
        box-shadow: 0px 1px 2px #616161;
        font-size: x-large;
    }
    #but{
        width: 210px;
        height: 100px;
        border-radius: 25px;
        color: black;
        text-align: center;
        background-color: #fdf4f9;
        box-shadow: 0px 1px 2px #616161;
        display: inline-block;
        font-size: x-large;
        margin-top: 300px;
        margin-left: 140px;

    }





}

    /*section{
        background:url(../img/rubans.jpg) no-repeat;
        background-size: cover;
        height:calc(100vh - 80px);
    }*/

