/*pages principales header*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    font-family:"Arial";
    background-color: white;
    font-size: 16px;
}
.resp{
    width:100%;
    height:auto;
}
.accroche {
    background-image: url(../img/turban.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 400px;
    margin-top: 0;
    background-attachment: fixed;

}
/*icones nav*/

.don {
    margin-left: 1240px;
    top: 1px;
    padding: 15px;
    width: 200px;
    height: 60px;
    background-color: rgb(158, 109, 94);
}

.don-base {
    margin-left: 1210px;
    padding: 12px;
    width: 200px;
    height: 60px;
    background-color: rgb(158, 109, 94);
}

/*.amazones {
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    margin-top:-50px;
    margin-left: 20px;
}*/
/*essaie titre js*/
.ml2 {
    font-size: 55px;
    margin:-66px 0 0  20px;
    font-family: 'Dancing Script', cursive;
}

.ml2 .letter {
    display: inline-block;

}
/*fin essai*/
.turban {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;

}
#loupe{
    width: 4%;
    margin-left: 1100px;
    margin-top: -42px;
}
#google{
    width: 4%;
    margin-left: 1150px;
    margin-top: -45px;
}
/*nav*/
nav {
    padding: 5px;
    width: 100%;
    height: 60px;
    background-color: rgb(216, 189, 189);
}

a {
    color: black;
    padding: 0 25px;
    font-size: 20px;
}

ul {
    display: flex;
    justify-content: flex-end;
    max-width: 1100px;
    margin: 0;
}

ul li {
    list-style: none;
    margin-bottom: 10px;
    font-size: 30px;
    position: relative;
    transition: 0.5s;
}

ul li:hover {
    background-color: rgb(216, 189, 189);
}

ul li a {
    text-decoration: none;
    padding: 0 30px;
    color: black;
}

ul li ul {
    color: #f1f1f1;
    position: absolute;
    top: 40px;
    left: 0;
    display: block;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

ul li:hover ul {
    opacity: 1;
    background-color: rgb(216, 189, 189);
    visibility: visible;
}

a:hover {
    color: #616161;
}

ul li ul li {
    border-bottom: #e0e0e0;
}
/*message flash*/
.alert alert-success{
    margin-top: 100px;
}
/*inscription*/
.titre-inscription{
    padding: 100px 0  40px 20px;
    font-size:30px;
}
.inscrivez-vous{
    font-family: 'Philosopher', sans-serif;
    font-size:25px;
}
.form-group-register{
    margin-left: 150px;
    margin-bottom: 100px;

}
.insert-register{
    background-color: rgb(245, 229, 229);
    height: 950px;
    margin-top: -20px;
}
.inscription{
    display:block;
    font-size: 20px;
    padding: 190px 60px 0 700px;
}
/*login/logout/form*/
p.connexion{
    font-size: 25px;
    margin-bottom: 60px;
}
.login-inscription{
    display:block;
    font-size: 25px;
    padding: 90px 60px 0 350px;
    font-family: 'Philosopher', sans-serif;

}
form#connect{
    margin: 300px 0  0 200px;
    padding: 100px 0  0 0;
    height:600px;
}
.insert-login{
    background-color: rgb(245, 229, 229);
    margin-top: -300px;
}

/*formulaires inserer article*/
#creer-article,.modifier-article,#modif-category{
    margin: 100px 0 50px 600px;
    font-family: 'Philosopher', sans-serif;
    padding-top:100px;
}
.titre-temoignage-insert,.titre-testimony-modif{
    font-family: 'Philosopher', sans-serif;
    margin: 100px 0 20px 600px;
    padding-top:50px;
}
#gerer-category{
    margin: 100px 0 50px 600px;
    font-family: 'Philosopher', sans-serif;
    padding-top:200px;
}
.insert{
    background-color: rgb(245, 229, 229);
    margin-top: -100px;
}
.insert-testimony{
    background-color: rgb(245, 229, 229);
    margin-top: -200px;

}
.insert-article{
    font-size: 25px;
    font-family: 'Philosopher', sans-serif;
    margin-left: 600px;
}
#recherche{
    width:150px;
    height:30px;
    margin:10px 0 70px 0;
}
#contrats-assurance{
    position: absolute;
    width: 50%;
    margin-top: 80px;
    margin-left: 600px;
    clear: both;
}
/*image formulaire de contact*/

#contactez{
    margin: 0;
    padding-top: 200px;
    font-family: 'Philosopher', sans-serif;
    font-size: 80px;
    text-align: center;
}
.contacte{
    background-image: url(../img/paper.jpg);
    background-repeat: no-repeat;
    height:500px;
    margin:0px;
}

.form-group-article-insert,
.form-group-article-modify,
.form-insert-category{
    margin-left: 150px;
    padding-bottom: 100px;
}
.form-group-contact-insert{
    background-color: rgb(245, 229, 229);
    width: 100%;
    padding: 100px 0 100px 500px;
}

.form-update-category{
    margin-left: 150px;
    padding-bottom: 150px;
}
.form-group-test-modify,
.form-group-testimony-insert{
    margin-left:150px;
    padding-bottom: 150px;
}
#smiles{
    position: absolute;
    width: 40%;
    margin-top: 80px;
    margin-left: 600px;
    clear: both;
}
#assurances{
    width: 40%;
    margin-top: 80px;
    margin-left: 600px;
    clear: both;
}
#mainsunis{
    position: absolute;
    width: 40%;
    margin-top: 80px;
    margin-left: 600px;

    clear: both;
}
#assurances-testimony{
    position: absolute;
    width: 40%;
    margin-left: 600px;
    margin-top: 80px;
    clear: both;
}

/*page recherche*/
.form-group-recherche-article{
    margin-left: 100px;
}
#recherche_articles,.card-body,article{
    display: inline-block;
    justify-content: space-around;
    margin-bottom: 30px;
}
.rech{
    margin-left:50px;
    margin-top: 30px;
}
.recherche{
    width:150px;
    height:40px;
    margin:10px 0 70px 0;
    padding:5px 0 5px 0;
    border-radius: 50px;
    background-color: rgb(216, 189, 189);
}
.suite{
    text-align: center;
    width:200px;
    height:50px;
    border-radius: 50px;
    margin:10px 0 70px 0;
    padding:5px 0 5px 0;
    background-color: rgb(216, 189, 189);
}

/*inserer modifier category*/

.form-group2{
    margin-left: 40%;
}
#form-update-category{
    margin-left: 230px;
}

/*articles police */
.cont{
    margin-top:10%;
    margin-left: -2%;
}

/*button*/
#button {
    margin-left: 2%;
    margin-top: 1%;
}
#button,#admin_button,
.button_category,
#button_testimony_m,
#admin_button_testimony,
#button_category_creer{
    width: 100px;
    height: 50px;
    border-radius: 25px;
    color: black;
    text-align: center;
    line-height: 50px;
    background-color: #fdf4f9;
    box-shadow: 0 1px 2px #616161;
    display: inline-block;
    font-size: x-large;
    margin:30px 50px;
}
#button_testimony_s{
    margin-right: 700px;
    margin-top: 30px;
    width: 100px;
    height: 50px;
    border-radius: 25px;
    color: black;
    text-align: center;
    line-height: 50px;
    background-color: #fdf4f9;
    box-shadow: 0 1px 2px #616161;

    display: inline-block;
    font-size: x-large;
}

#but{
    width: 210px;
    height: 100px;
    border-radius: 25px;
    color: black;
    text-align: center;
    background-color: #fdf4f9;
    box-shadow: 0 1px 2px #616161;
    display: inline-block;
    font-size: x-large;
    margin-top: 300px;
    margin-left:40%;
}
/*box*/
#lien_temoignage,
#lien_articles,
#lien_category{
    margin-top:-30px;
}
.lien_articles,
.lien_category,
.lien_temoignage{
    width: 500px;
    height: 60px;
    font-size: 30px;
    padding: 10px 0 0 30px;
    margin-bottom:100px;
    background-color: rgb(158, 109, 94);

}
#admin_lien_articles,
#admin_lien_category,
#admin_lien_temoignage{
    width:100%;
    height: 30%;
    border:solid 2px #616161;
    box-shadow: 0px 1px 2px #616161;
    text-align: center;
    margin-top: 250px;
}
/*page admin*/
/*admin*/

.titre,
.admin {
    margin:50px 0 50px 300px;
}
.Compte_admin {
    font-size: 19px;
    margin-left: 10px;
}
.profile {
    margin-left: 10px;
}
.table {
    margin-left: 50px;
}
#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 70%;
    margin-left: 300px;
    margin-bottom: 50px
}

#customers td,
#customers th {
    border: 1px solid #ddd;
    padding: 8px;
}
#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(216, 189, 189);
}
/*admin crud articles category testimony*/

/*block pages base*/
.row{
    background-color: rgb(216, 189, 189);
    width:650px;
    height:360px;
    padding:15px 50px 0 70px;
    margin-left: 240px;
    margin-top: -25px;

}
.row-test{
    background-color: rgb(216, 189, 189);
    width:650px;
    height:340px;
    padding:15px 50px 0 70px;
    margin-left: 130px;
}
.row1{
    height: 360px;
    display:inline-block;
    background-color: rgb(221, 214, 212);
    padding:50px 50px 0 50px;
}
.row1-test{
    height: 380px;
    display:inline-block;
    background-color: rgb(221, 214, 212);
    padding:50px 50px 0 50px;
}
.row3-test{
    height: 380px;
    display:inline-block;
    background-color: rgb(221, 214, 212);
    padding:50px 50px 0 50px;
}

.row2{
    background-color: rgb(216, 189, 189);
    width:650px;
    height:350px;
    padding:15px 50px 0 50px;
    margin-left: 110px;
}
.row2-test{
    background-color: rgb(216, 189, 189);
    width:650px;
    height:470px;
    padding:15px 50px 0 50px;
    margin-left:-5px;

}
.article {
    color: rgb(241, 121, 121);
    margin: 0;
    padding-bottom:30px;
}


.title_articles_admin,
.title_categorys_admin,
.title_testimonys_admin{
    font-size: 25px;
    margin-left: -9px;
}

.box_articles_admin{
    padding: 70px 70px 70px 70px;
}

.box_articles,.box_categorys_admin
{
    width: 44%;
    height: 270px;
    margin-left:-120px;
}
.box_testimonys_admin{
    width: 44%;
    height: 300px;
}
.box_articles_admin_illustration,
.box_categorys_admin_photo,
.box_testimonys_admin_picture{
    filter: drop-shadow(16px 16px 10px silver);
    width: 43%;
    height: auto;
}
.img_box_articles_admin,
#img_categorys_admin{
    width: 40%;
    height: auto;
    margin-bottom: -215px;
    margin-left: 250px;
}
/*essaie JS*/

/*fin essai js*/

#img_box_testimonys_admin{
    width: 35%;
    height: auto;
    margin-left: 140px;
    margin-top: -230px;
}

.img_articles_admin{
    width: 39%;
    height: auto;
    margin:0 0 145px 0;
}
.img_art_ad {
    width: 39%;
    height: auto;
    margin:-200px 0 0 120px;
}
#img_cat_ad{
    width: 38%;
    height: auto;
    margin:-160px 0 0 120px;
}

#img_test_admin{
    width: 34%;
    height: auto;
    margin:-140px 0 0 140px;

}

/*retour vers le haut*/

.top {
    width: 100%;
    height: 100px;
    margin-top: 0;
    background-color: rgb(160, 116, 102);
}

.arrow2 {
    width: 3%;
    color: gold;
    margin-left: 685px;
}

.arrow-text {
    text-align: center;
    font-size: 20px;
}

/*footer liens facebook*/
#footer {
    height: 120px;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgb(216, 189, 189);
    font-size: 27px;
}

.liens {
    margin-left: 1100px;
    padding-top: 50px;
    font-size: 18px;
}
@keyframes scale {
    0% {
        transform: scale(1.3);
    }
    50% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1.3);
    }
}

footer:not(.visible) {
    overflow: hidden;
}

footer>.redirection{
    transition: all 1s ease;
}

footer:hover>.redirection{
    transform: scale(1.4);
}
#facebook {
    width: 22px;
    margin-left: 420px;
    margin-top: 40px;

}

#twitter {
    width: 37px;
    margin-left: 220px;
    margin-top: 40px;

}
#instagram {
    width: 37px;
    margin-left:30px;
    margin-top: 40px;

}
/*responsive*/

@media screen and (max-width:843px) and (min-width:400px) {
    .accroche {
        display: block;
        width: 100%;
        margin: 0;
    }
    .login {
        display: none;
    }
    .don,
    .don-base,
    .button {
        display: none;
    }
    nav {
        padding: 60px;
        width: 100%;
        height: 120px;
        background-color: rgb(216, 189, 189);
    }
    a {
        color: black;
        padding: 0 25px;
        font-size: 20px;
    }
    ul {
        display: flex;
        justify-content: flex-end;
        max-width: 1100px;
    }
    ul li {
        list-style: none;
        margin-bottom: 10px;
        font-size: 30px;
        padding: 0 -20px;
        position: relative;
        transition: 0.5s;
    }
    ul li:hover {
        background-color: rgb(216, 189, 189);
    }
    ul li a {
        text-decoration: none;
        padding: 0 30px;
        color: black;
    }
    ul li ul {
        color: #f1f1f1;
        position: absolute;
        top: 40px;
        left: 0;
        display: block;
        transition: 0.5s;
        opacity: 0;
        visibility: hidden;
    }
    ul li:hover ul {
        opacity: 1;
        background-color: rgb(216, 189, 189);
        visibility: visible;
    }
    a:hover {
        color: #616161;
    }
    ul li ul li {
        border-bottom: #e0e0e0;
    }
    .amazones,
    .site {
        font-family: 'Dancing Script', cursive;
        font-size: 50px;
        margin-top: -100px;
        margin-left: 20px;
    }
    .arrow2 {
        width: 4%;
        display: none;
    }
    /*blocks pages du site home et  base*/
    .row{
        display: block;
        background-color: rgb(216, 189, 189);
        width:550px;
        height:350px;
        padding:30px 10px 20px 70px;
        margin-left: 80px;
    }
    .img_box_articles_admin,
    #img_categorys_admin,.img_art_ad {
        display:block;
        width: 100%;
        height: auto;
        margin: 80px 0 0 3px;
    }
    .row1{
        height: 460px;
        display:block;
        background-color: rgb(221, 214, 212);
    }
    .box_articles_admin{
        padding: 10px 10px 20px 10px;
    }
    .img_art_ad {
        width: 100%;
        height: auto;
        margin:0;
    }
    .row2{
        background-color: rgb(216, 189, 189);
        width:510px;
        height:550px;
        margin-bottom: 50px;
        padding:15px 50px 0 50px;
    }
    #img_cat_ad{
        width: 100%;
        height: auto;
        margin:1px 0 0 0;
    }
    #img_box_testimonys_admin{
        width: 34%;
        height: auto;
        margin-left: 140px;
        margin-top: -290px;
    }
    #img_test_admin{
        width: 99%;
        height: auto;
        margin:1px 0 0 0;

    }
    .row-test{
        background-color: rgb(216, 189, 189);
        width:510px;
        height:450px;
        padding:15px 60px 0 40px;
        margin-left: -20px;
    }
    .box_testimonys_admin{
        width: 44%;
        height: 300px;
        margin:0;
    }
    .row1-test{
        width:490px;
        height: 480px;
        display:block;
        background-color: rgb(221, 214, 212);
        padding:50px 50px 0 50px;

    }
    .row2-test{
        background-color: rgb(216, 189, 189);
        width:500px;
        height:400px;
        padding:15px 50px 0 50px;


    }
    .row3-test{
        width:495px;
        height: 400px;
        display:block;
        background-color: rgb(221, 214, 212);
        padding:50px 50px 0 50px;
    }
    /*page admin*/
    .titre,
    .admin {
        margin:50px 0 50px 0;
    }

    #customers {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 70%;
        margin-left: 60px;
        margin-bottom: 50px
    }

    #customers td,
    #customers th {
        border: 1px solid #ddd;
        padding: 8px;
    }
    #customers tr:hover {
        background-color: #ddd;
    }

    #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: rgb(216, 189, 189);
    }
/*page recherche*/
    .form-group-recherche-article{
        margin-left: 20px;
    }


    #footer {
        width: 100%;
        height: 120px;
        margin: 0;
        padding: 0;
        text-align: center;
        background-color: rgb(216, 189, 189);
        font-size: 27px;
    }
    .liens {
        margin-left: 220px;
        font-size: 18px;
        padding-top: 50px;
    }
    #facebook {
        width: 22px;
        margin-left: 170px;
        margin-top: 40px;
    }
    #twitter {
        width: 37px;
        margin-left: 100px;
        margin-top: 40px;
    }
    #instagram {
        width: 37px;
        margin-top: 40px;
    }
 }
@media (max-width:768px) {
    .modifier-article,
     #gerer-category{
        margin:220px 0 90px 40px;
        text-align: center;
    }
    .titre-temoignage-insert{
        margin:250px 160px 90px 0;
        text-align: center;
    }
    .titre-testimony-modif{
        margin:250px 20px 90px 0;
        text-align: center;
    }
    .titre-inscription{
        margin:250px 130px 90px 0;
        text-align: center;
    }
    .title_testimonys_admin,
    .title_articles_admin,
    .title_categorys_admin{
        margin: 0 0 0 -10px;
    }

/*crud articles et buttons*/
    .display_articles_admin,
    .display_testimonys_admin,
    .display_categorys_admin{
        display: block;
        margin: 0 auto;
    }
    .title_articles-admin,
    .title_categorys_admin,
    .title_testimonys_admin{
        display:inline-block;
        font-size: 30px;
    }
    /*.box_articles_admin,
    .box_testimonys_admin,
    .box_categorys_admin,*/

    #img_box_categorys_admin{
        width: 100%;
        height: auto;
        margin-top: 30px;
    }
    #img_box_testimonys_admin{
        width: 100%;
        height: auto;
        margin-left: -10px;
        margin-top:80px;

    }

    #admin_button,
    .button_category,
    #button_category_creer,
    #button_testimony_m,
    #admin_button_testimony
    {
        display: inline-block;
        width: 70px;
        height: 30px;
        border-radius: 25px;
        color: black;
        text-align: center;
        line-height: 30px;
        background-color: #fdf4f9;
        box-shadow: 0px 1px 2px #616161;
        font-size: medium;
    }

    #button_testimony_s{
        margin:0;
        padding:0;
        width: 70px;
        height: 30px;
        border-radius: 25px;
        color: black;
        text-align: center;
        line-height: 30px;
        background-color: #fdf4f9;
        box-shadow: 0px 1px 2px #616161;
        font-size: medium;
    }
    #but{
        width: 210px;
        height: 100px;
        border-radius: 25px;
        color: black;
        text-align: center;
        background-color: #fdf4f9;
        box-shadow: 0px 1px 2px #616161;
        display: inline-block;
        font-size: x-large;
        margin-top: 300px;
        margin-left: 140px;
    }
/*lien de bon*/
    .faireundon{
        margin-top: 30px;
    }
    #dons {
        margin-top: 250px;
    }
/*recherche*/
    #recherche_articles,.card-body,article{
        display:block;
        justify-content: space-around;
        margin-bottom: 30px;
    }
    #loupe{
        width:4%;
    }
    #google{
        width:4%;
    }

}


