/*pages principales header*/

 * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;

  }

body {
    font-family:"Arial";
    background-color: white;
    font-size: 16px;
}

.haut {
    background-image: url(../img/girls.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
}

.p {
    margin: 0;
    padding: 0;
}
/*header et logo*/

#logo {
    filter: drop-shadow(10px 10px 10px darkgrey);
    left: 30px;
    width: 12%;
}
.login {
    width: 4%;
    margin-left: 1150px;
    margin-top: -60px;
}
#google{
    width: 2%;
    margin-left: 1220px;
    margin-top: -46px;
}
#mon-compte{
    width: 37%;
    margin-left: 1050px;
    margin-top: -92px;
}
/*nav*/

.don {
    margin-left: 1240px;
    top: 1px;
    padding: 15px;
    width: 200px;
    height: 60px;
    background-color: rgb(158, 109, 94);
}

.don-base {
    margin-left: 1210px;
    padding: 12px;
    width: 200px;
    height: 60px;
    background-color: rgb(158, 109, 94);
}

.amazones {
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    margin-top: -45px;
    margin-left: 20px;
}

.turban {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    padding: 5px;
    width: 100%;
    height: 60px;
    background-color: rgb(216, 189, 189);
}

a {
    color: black;
    padding: 0 25px;
    font-size: 20px;
}

ul {
    display: flex;
    justify-content: flex-end;
    max-width: 1100px;
    margin: 0;
}

ul li {
    list-style: none;
    margin-bottom: 10px;
    font-size: 30px;
    position: relative;
    transition: 0.5s;
}

ul li:hover {
    background-color: rgb(216, 189, 189);
}

ul li a {
    text-decoration: none;
    padding: 0 30px;
    color: black;
}

ul li ul {
    color: #f1f1f1;
    position: absolute;
    top: 40px;
    left: 0;
    display: block;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

ul li:hover ul {
    opacity: 1;
    background-color: rgb(216, 189, 189);
    visibility: visible;
}

a:hover {
    color: #616161;
}

ul li ul li {
    border-bottom: #e0e0e0;
}

/*block*/

.actualites {
    margin-top: 80px;
    margin-bottom: 50px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    margin-left: 100px;
}

.row {
    flex-direction: row;
    padding-left: 90px;
}

.element1,
.element2 {
    width: 250px;
    height: 330px;
    margin: 30px 30px;
    border: solid 1px gray;
}

.image1 {
    width: 100%;
    margin: 0;
}

.button {
    margin: 50px 0 50px 630px;
    width: 200px;
    height: 60px;
    padding: 10px 0 10px 30px;
    background-color: rgb(158, 109, 94);
}

.article {
    color: rgb(241, 121, 121);
    margin: 0;
}
/*milieu de page*/
.titre {
    font-size: 23px;
    margin: 30px 10px;
}
p.unis {
    font-size: 35px;
    height: 100vh;
    font-family: 'Dancing Script', cursive;
    padding: 230px 0 0 20px;
    margin:10px 5px;

}
#img,
.img {
    width: 80%;
    margin-top: 50px;
    padding: 0;
}
.row1 {
    display: flex;
    justify-content: space-around;
    margin-left: 160px;
    width: 80%;
    height: 600px;
    background-color: rgb(216, 189, 189);
    padding: 0;
}
/*carousel*/
.carousel-item {
    height: 70vh;
}
.img-carousel{
    width:100vw;
    height:630px;
}
/*formulaire newsletter*/
.informe {
    font-family: 'Dancing Script', cursive;
    color: black;
    font-size: 25px;
    margin-top: -170px;
    margin-bottom: 50px;
}

.news {
    font-family: 'Dancing Script', cursive;
    color: black;
    font-size: 25px;
    text-align: center;
    margin-top: 40px;
}

.forcont {
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    height: 50vh;
    color: black;
}

.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    border-radius: 8px 8px;
    height: 60vh;
    width: 80vw;
    margin-top: 180px;
    font-family: "Arial", serif;
}

input {
    border-right: none;
    border-top: none;
    border-left: none;
    outline: none;
    color: black;
    caret-color: black;
    margin-bottom: 50px;
}

input[type=text]::placeholder {
    text-align: center;
    color: black;
    font-family: "Arial", serif;
}

input[type=submit] {
    background-color: rgba(255, 255, 255, .2);
    width: 50%;
    padding: 1vh;
    border-radius: 4px 4px;
    margin-bottom: 80px;
}

input.submit {
    background-color: rgb(158, 109, 94);
    margin-bottom: 40px;
}
/*retour vers le haut*/

.top {
    width: 100%;
    height: 100px;
    margin-top: 0;
    background-color: rgb(160, 116, 102);
}

.arrow2 {
    width: 3%;
    color: gold;
    margin-left: 680px;
}

.arrow-text {
    text-align: center;
    font-size: 20px;
}

/*footer liens facebook*/
#footer {
    height: 120px;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgb(216, 189, 189);
    font-size: 27px;
}

.liens {
    margin-left: 1000px;
    padding-top: 50px;
    font-size: 18px;
}

#facebook {
    width: 22px;
    margin-left: 420px;
    margin-top: 40px;
}

#twitter {
    width: 37px;
    margin-left: 220px;
    margin-top: 40px;
}

#instagram {
    width: 37px;
    margin-left:30px;
    margin-top: 40px;
}
/*formulaire*/
.form-group{
    margin-left: 80%;
}
.form-group2{
    margin-left: 50%;
}
/*responsive*/

@media screen and (max-width:843px) and (min-width:400px) {
    .amazones {
        font-family: 'Dancing Script', cursive;
        font-size: 50px;
        padding-top: 30px;
        margin-left: 20px;
    }
    .haut {
        background-image: url(../img/girls.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 1000px;

    }
    .accroche {
        display: block;
        width: 100%;
        margin: 0;
    }
    .login {
        display: none;
    }
    .don,
    .don-base,
    .button {
        display: none;
    }
    nav {
        padding: 60px;
        width: 100%;
        height: 120px;
        background-color: rgb(216, 189, 189);
    }
    a {
        color: black;
        padding: 0 25px;
        font-size: 20px;
    }
    ul {
        display: flex;
        justify-content: flex-end;
        max-width: 1100px;
    }
    ul li {
        list-style: none;
        margin-bottom: 10px;
        font-size: 30px;
        padding: 0 -20px;
        position: relative;
        transition: 0.5s;
    }
    ul li:hover {
        background-color: rgb(216, 189, 189);
    }
    ul li a {
        text-decoration: none;
        padding: 0 30px;
        color: black;
    }
    ul li ul {
        color: #f1f1f1;
        position: absolute;
        top: 40px;
        left: 0;
        display: block;
        transition: 0.5s;
        opacity: 0;
        visibility: hidden;
    }
    ul li:hover ul {
        opacity: 1;
        background-color: rgb(216, 189, 189);
        visibility: visible;
    }
    a:hover {
        color: #616161;
    }
    ul li ul li {
        border-bottom: #e0e0e0;
    }
    .amazones,
    .site {
        font-family: 'Dancing Script', cursive;
        font-size: 50px;
        margin-top: -130px;
        margin-left: 20px;
    }
    .mainsunis {
        display: block;
        width: 100%;
        margin-left: -16%;
    }
    .moi {
        width: 100%;
        display: block;
        margin-top: 30px;
    }
    .actualites {

      margin:0;
        text-align: center;
    }

    .container {
        display: flex;
        justify-content: space-around;
        margin-left: 100px;
    }
    .row1 {
        display: block;
        height: 600Px;
        background-color: rgb(216, 189, 189);
    }
    /*base-block*/
    .recherche,
    .perruque {
        margin-top: 100px;
        margin-left: 30px;
        padding-top: 20px;
    }
    .accessoires {
        margin-top: 50px;
    }
    .row-base,
    .row-base1 {
        display: block;
        width: 90%;
        flex-direction: row;
    }
    .row-base {
        margin-top: 100px;
    }
    .article-base {
        display: block;
        margin-top: 200px;
        margin-left: -70px;
        padding: 0;
        background-color: rgb(216, 189, 189);
    }
    .article-base1 {
        display: block;
        padding: 0;
        margin-left: 10px;
        margin-top: -208px;
        background-color: rgb(216, 189, 189);
    }
    .article-base,
    .illustration,
    .article-base1,
    .illustration1 {
        width: 100%;
        padding: 0;
    }
    .illustration1 {
        margin-left: -70px;
    }
    .content {
        width: 100%;
        height: 250px;
        font-size: 16px;
        margin-left: 10px;
    }
    .container {
        flex-wrap: wrap;
        padding: 0;
        margin-left: -50px;
    }
    .row {
        flex-direction: column;
        padding:30px;
    }
    .row1 {
        display: block;
        width: 100%;
        height: 600px;
        background-color: rgb(216, 189, 189);
        padding: 0;
        margin: 0;
    }
    .element1,
    .element2 {
        width: 250px;
        height: 330px;
        border: solid 1px gray;
    }
    p.unis {
        display: none;
    }
    .img {
        width: 100%;
        margin: 150px 0 50px 40px;
    }
    .informe {
        font-family: 'Dancing Script', cursive;
        color: black;
        text-align: center;
        font-size: 25px;
        margin-top: -170px;
        margin-bottom: 80px;
    }
    .news {
        font-family: 'Dancing Script', cursive;
        color: black;
        font-size: 25px;
        text-align: center;
        margin-top: 40px;
    }
    .arrow2 {
        width: 4%;
        display: none;
    }
    #footer {
        width: 100%;
        height: 120px;
        margin: 0;
        padding: 0;
        text-align: center;
        background-color: rgb(216, 189, 189);
        font-size: 27px;
    }
    .liens {
        margin-left: 230px;
        font-size: 18px;
    }
    #facebook {
        width: 22px;
        margin-left: 200px;
        margin-top: 40px;
    }
    #twitter {
        width: 37px;
        margin-left: 110px;
        margin-top: 40px;
    }
    #instagram {
        width: 37px;
        margin-top: 40px;
        margin-left: 30px;
    }
}


