/*pages principales header*/
body {
    font-family: 'Dancing Script', cursive;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    box-sizing: border-box;
}
.resp{
    width:100%;
    height:auto;
}
/*nav barre menu*/
header {
    background-image: url(../img/rubans.jpg);
    background-size: cover;
    padding-left: 1em;
    background-repeat: no-repeat;
    height: 130vh;
}
.filtre {
    width: 100%;
    height: 100%;
    background-color: rgba(30, 30, 30, 0.2);
}
li .logo {
    width:100px;
}

li.amazone {
    width:100px;
    margin-left: 50px;

}

nav {
    width: 100%;
    height:200px;
    background-color: transparent;
    position: sticky;
    margin-left:100px;
}
nav a {
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: #616161;
    font-size: 27px;
    display: block;
    text-decoration: none;
}
nav ul {
    list-style-type: none;
    justify-content: space-between;
}
li {
    width: 100px;
    text-align: center;
}
ul li {
    display: inline-block;
    width: 200px;
    text-align: center;
}
nav ul::after {
    content: "";
    display: table;
    clear: both;
}
nav a:hover {
    color: #616161;
}
.sous {
    display: none;
    box-shadow: 0px 1px 0px #CCC;
    background-color: rgba(253, 244, 249, 0.2);
}
nav>ul li:hover .sous {
    display: block;
}
.sous li {
   display:block;
    width: 20%;
    text-align: center;
}
.sous a {
    border-bottom: none;
}

.deroulant>a::after {
    content: "▼";
    font-size: 12px;
}
/*lien don*/
h1 {
    font-family: 'Dancing Script', cursive;
    display: inline-block;
    margin-top: 12%;
    color: #616161;
}
.don{
    margin-top: 12%;
}
span {
    font-size: medium;
}
#dons {
    height: 150px;
}

#button {
    width: 100px;
    height: 50px;
    border-radius: 25px;
    color: black;
    text-align: center;
    line-height: 50px;
    background-color: #fdf4f9;
    box-shadow: 0px 1px 2px #616161;
    display: inline-block;
    font-size: medium;
    display: inline-block;
    margin-left: 2%;
    margin-top: 12%;
}
/*articles*/
h3,h4,h5{
    font-size: 2em;
}
p {
    font-size: 16px;
    font-family: 'Philosopher', sans-serif;
    margin-left: 2%;
}
.depistage {
    margin-left: 2%;
    margin-top: 1%;
}

#vivre {
    margin-top: 11%;
    width: 80%;
}

#solution,
#mieux {
    padding-top: 50px;
}
/*footer liens facebook*/
#new{
    margin-top: 10%;
}
#news {
    margin-top: 30%;
    text-align: center;
    margin-left: 50%
}

#logoNewsletter {
    width: 70px;
}

#ins {
    text-align: center;
}

#footer {
    background-color: #d3fdfd;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: #6897be;
    font-size: 27px;
}

#logoarrow {
    float: right;
    right: 2%;
    bottom: 2px;
    top: 1px;
}

#facebook {
    width: 5%;
    margin-left: 70%;
}
#twitter {
    margin-right: 60%;
}

#instagram {
    margin-right: 83%
}
@media screen and (min-width: 100px) and (max-width: 640px ){
    nav{
       margin-left:50px ;
        display:flex;
    }
    #dons{
        margin-top:50%;
    }
    li.logo{
        width:20px;
        margin-right: 40px;
    }

}