{% extends 'base.html.twig' %}
{# extends permet d'etendre le code html du fichier base.html pour eviter la repetition du code #}

{% block main %}


    <div class="presentation1">
        <h1 class="mentions">Mentions Légales Gratuites</h1>
        <article class="info-mentions">
            Merci de lire avec attention les différentes modalités d’utilisation du présent site avant d’y parcourir ses pages. En vous connectant sur ce site, vous acceptez, sans réserves, les présentes modalités.
            Aussi, conformément à l’article n°6 de la Loi n°2004-575 du 21 Juin 2004 pour la confiance dans l’économie numérique, les responsables du présent site internet www.anthedesign.fr sont :<br><br>
            <strong>Éditeur du Site :</strong><br>
            <strong>Responsable éditorial</strong> : Labat vanessa<br>
            Rue du Marechal Foch résidence le mas des gleysootes<br>
            Bat lav Appt 304<br>
            33560 Carbon Blanc<br>
            <strong>Téléphone</strong> : 06 00 00 00 00<br>
            <strong>Email</strong> : vanlab@hotmail.fr<br>
            <strong>Site Web </strong>: www.LesAmazones.fr<br>
            <strong>Hébergement</strong> : <br>
            <strong>Développement</strong> :<br><br>
            <strong>Conditions d’utilisation :</strong><br>
            Ce site (www.LesAmazones.fr) est proposé en différents langages web (HTML, HTML5, Javascript, CSS, etc…) pour un meilleur confort d’utilisation et un graphisme plus agréable.
            Nous vous recommandons de recourir à des navigateurs modernes comme Internet explorer, Safari, Firefox, Google Chrome, etc…
            Le site assure et met à disposition des informations fiables et une mise à jour fiable de son site internet.<br><br>
            <strong>Cookies :</strong> <br>
            Le site www.LesAmazones.fr peut-être amené à vous demander l’acceptation des cookies pour des besoins de statistiques et d’affichage. Un cookie est une information déposée sur votre disque dur par le serveur du site que vous visitez.
            Il contient plusieurs données qui sont stockées sur votre ordinateur dans un simple fichier texte auquel un serveur accède pour lire et enregistrer des informations .<br>
            Certaines parties de ce site ne peuvent être fonctionnelles sans l’acceptation de cookies.<br><br>
            <strong>Liens hypertextes : </strong><br>
            Les sites internet de peuvent offrir des liens vers d’autres sites internet ou d’autres ressources disponibles sur Internet. Le site "Les Amazones" ne dispose d’aucun moyen pour contrôler les sites en connexion avec ses sites internet.<br><br>
            <strong>Limitation contractuelles sur les données :</strong><br>
            Les informations contenues sur ce site sont aussi précises que possible et le site remis à jour à différentes périodes de l’année, mais peut toutefois contenir des inexactitudes ou des omissions.<br><br>
            <strong>Propriété intellectuelle :</strong><br>
            Tout le contenu du présent site www.LesAmazones.fr, incluant, de façon non limitative, les graphismes, images, textes, vidéos, animations, sons, logos, gifs et icônes ainsi que leur mise en forme sont open-source à l’exception du logos.
            Toute reproduction, distribution, modification, adaptation, retransmission ou publication, même partielle, du logo est strictement interdit, constitue une contrefaçon sanctionnée par les articles L.335-2 et suivants du Code de la propriété intellectuelle.
            Le non-respect de cette interdiction constitue une contrefaçon pouvant engager la responsabilité civile et pénale du contrefacteur.<br><br>
            <strong>Déclaration à la CNIL :</strong><br>
            Conformément à la loi 78-17 du 6 janvier 1978 (modifiée par la loi 2004-801 du 6 août 2004 relative à la protection des personnes physiques à l’égard des traitements de données à caractère personnel) relative à l’informatique,
            aux fichiers et aux libertés, ce site a fait l’objet d’une déclaration 1656629 auprès de la Commission nationale de l’informatique et des libertés (www.cnil.fr).<br><br>
            <strong>Données personnelles :</strong><br>
            De manière générale, vous n’êtes pas tenu de nous communiquer vos données personnelles lorsque vous visitez notre site Internet www.LesAmazones.fr.
            Vous pouvez être amenés à nous communiquer certaines données telles que : votre nom, votre adresse électronique.
            Tel est le cas lorsque vous remplissez le formulaire  de contact.
            Dans tous les cas, vous pouvez refuser de fournir vos données personnelles. Dans ce cas, vous ne pourrez pas utiliser certains services du site.
            De telles informations sont utilisées exclusivement à des fins de statistiques internes, de manière à améliorer la qualité des services qui vous sont proposés. Les bases de données sont protégées par les dispositions de la loi du 1er juillet 1998 transposant la directive 96/9 du 11 mars 1996 relative à la protection juridique des bases de données.
        </article>
    </div>

{% endblock main%}