{% extends 'home.html.twig' %}

{% block main %}
<h1 class=" w-100 text-center ml-5 mt-5">Les statistiques</h1>
{# lien pour creer un article avec la propriété path #}
{% for article in articles %}
{# avec la boucle for j'appel un article dans mes articles avec clipable avec le lien a href  #}
{# avec la propriete path j'appel un de mes articles qui sera clipable et qui affichera le contenu
de ma page modify_static.html.twig#}
{# avec la proprieté path je recupére un titre de mes articles et son id, grace au name de ma route articles #}
{# j'appel mes images et mes titres  #}
<div class="container">
    <div class=" content col-12 col-lg-5 ml-5 mt-5">
        <h2>{{ article.title }}</h2>
        <p class="mt-5">{{ article.content }}</p>
<img src="">
    </div>
   
</div>
{% endfor %}
{% endblock main%}
