{% extends 'base.html.twig' %}

 {% block main %}{#
<h1 class=" w-100 text-center ml-5 mt-5">Vos articles</h1>
{# lien pour creer un article avec la propriété path #}
<h1 class="">Créer votre article</h1>
<div class="front_container">
{% for article in articles %}
 {# avec la boucle for j'appel un article dans mes articles avec clipable avec le lien a href  #}
 {# avec la propriete path j'appel un de mes articles qui sera clipable et qui affichera le contenu
    de ma page modify_static.html.twig#}
  {# avec la proprieté path je recupére un titre de mes articles et son id, grace au name de ma route articles #}
  {# j'appel mes images et mes titres  #}
      <article class="front_article">
        <div class="content">
            <h2>{{ article.title }}</h2>
              <p>{{ article.content }}</p>
                <div class="front_illudtration">
                 <img src="{{ article.illustration }}" alt="" class="resp">
               </div>
        </div>
    </article>
{% if article.illustration %}
{#
je récupère le nom du fichier uploadé
que je concatène avec le dossier
dans le dossier uploadé
#}<img src="{{ asset('uploads/articles/' ~ article.illustration) }}" alt="">
{% endif %}
{% endfor %}
</div>
{% endblock main%}

